<section class="mt-2" aria-label="Suchergebnis">
  <hs-waiting *ngIf="waiting; else suchergebnis"></hs-waiting>

  <ng-template #suchergebnis>
    <div
      class="card"
      aria-label="Gefundene Kunden"
      *ngIf="kunden.length; else showErrorMsg"
    >
      <div class="card-header">
        <i class="material-icons">folder_open</i>
        <span class="ml-1 font-weight-bold">Gefundene Kunden</span>
      </div>
      <div class="card-body">
        <table
          class="table table-striped table-hover table-responsive"
          [@easeIn]="'in'"
        >
          <thead class="thead-default">
            <tr>
              <th>Nr.</th>
              <th>ID</th>
              <th>Nachname</th>
              <th>Familienstand</th>
              <th>Interessen</th>
              <th>
                <span class="sr-only">Spalte f&uuml;r Details</span>
              </th>
              <th *ngIf="isAdmin">
                <span class="sr-only">Spalte f&uuml;r Entfernen</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of kunden; index as i" [@easeOut]="'in'">
              <td (click)="onClick(b)">{{ i + 1 }}</td>
              <td (click)="onClick(b)">{{ b._id }}</td>
              <td (click)="onClick(b)">{{ b.nachname }}</td>
              <td>
                <span [ngSwitch]="b.familienstand">
                  <span *ngSwitchCase="'L'">Ledig</span>
                  <span *ngSwitchCase="'VH'">Verheiratet</span>
                  <span *ngSwitchCase="'G'">Geschieden</span>
                  <span *ngSwitchCase="'VW'">Verwitwet</span>
                  <span *ngSwitchDefault>unbekannt</span>
                </span>
              </td>
              <td (click)="onClick(b)">
                <span *ngFor="let sw of b.interessen">
                  <span [ngSwitch]="sw">
                    <span *ngSwitchCase="'L'"> Lesen<br /> </span>
                    <span *ngSwitchCase="'R'"> Reisen </span>
                    <span *ngSwitchCase="'S'"> Sport </span>
                  </span>
                </span>
              </td>
              <td>
                <a [routerLink]="['..', b._id]" title="Details anzeigen">
                  <i class="material-icons">search</i>
                </a>
              </td>
              <td *ngIf="isAdmin">
                <span (click)="onRemove(b)" title="Entfernen">
                  <i class="material-icons">delete</i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div>
          <i class="material-icons">info</i>
          <span class="ml-1" [ngPlural]="kunden.length">
            <!-- zu vergleichender Ausdruck -->
            <ng-template ngPluralCase="=0">
              Es exisitieren keine Kunden
            </ng-template>
            <ng-template ngPluralCase="=1"> Es gibt Kunden </ng-template>
            <ng-template ngPluralCase="other">
              Es gibt {{ kunden.length }} Kunden
            </ng-template>
          </span>
        </div>

        <div>
          <i class="material-icons">info</i>
          <span class="ml-1">
            Zur Anzeige der JSON-Datens&auml;tze in suchergebnis.html am
            Dateiende den Kommentar beim Tag &lt;pre&gt; entfernen
          </span>
        </div>
      </div>
    </div>

    <ng-template #showErrorMsg>
      <hs-error-message [text]="errorMsg"></hs-error-message>
    </ng-template>
  </ng-template>
</section>
