<div class="form-group row">
  <label class="col col-2 form-control-label">Art</label>
  <div class="col col-10">
    <div class="radio">
      <input
        type="radio"
        id="maennlichInput"
        [(ngModel)]="geschlecht"
        name="geschlecht"
        value="MAENNLICH"
      />
      <!-- margin left -->
      <label class="radio-inline ml-1" for="maennlichInput">
       Maennlich
      </label>
    </div>

    <div class="radio">
      <input
        type="radio"
        id="weiblichInput"
        [(ngModel)]="geschlecht"
        name="geschlecht"
        value="WEIBLICH"
      />
      <label class="radio-inline ml-1" for="weiblichInput">
        Weiblich
       </label>
      </div>

      <div class="radio">
        <input
          type="radio"
          id="diversInput"
          [(ngModel)]="geschlecht"
          name="geschlecht"
          value="DIVERS"
        />
        <label class="radio-inline ml-1" for="diversInput">
          Divers
         </label>
        </div>
  </div>
</div>
